/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lightseagreen; */
}

/* BODY */
body{
    font-family: 'Open Sans',sans-serif;
}

/* Immagini */
img{
    width: 100%;
}

/* Struttura Float */
.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Buttons */
.btn{
    display: inline-block;
    line-height: normal;
    text-decoration: none;
}

.btn-padd{
    padding: 6px 14px;
} 

.btn-blue{
    background-color: #0160ff;
    color: white;
}

.btn-white{
    color: #202020;
    border: 1px solid #202020;
}

.btn-font{
    font-size: 14px;
}

.btn:hover{
    filter: brightness(150%);
}

/* HEADER */
header{
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
    border-bottom: 1px solid lightgray;
}

/* Layout Header */
.col-header-left, .col-header-right{
    width: 50%;
}

.col-header-left{
    text-align: left;
}

.col-header-right{
    text-align: right;
}

/* Nav Proprietà*/
nav{
    width: 98%;
    margin: auto;
}

/* Ul Header */
header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    line-height: 70px;
    margin: 0 20px;
    color: black;
    display: inline-block;
    font-weight: 400;
}

header ul li .linea:hover{
    border-bottom: 2px solid black;
}

header .logo{
    vertical-align: middle;
}

/* MAIN */

/* JUMBOTRON */
.jumbotron{
    background-color: #b3d0e7;
    padding-top: 160px;
}

.jumbotron-container{
    width: 80%;
    margin: auto;
}

.jumbotron h1{
    font-size: 70px;
}

/* Struttura colonne jumbo */
.col-jumbo-left{
    width: 35%;
    padding: 55px 0 80px;
}

.col-jumbo-right{
    width: 60%;
    margin-left: 5%;
    padding: 55px 0 80px;
    position: relative;
}

/* Proprietà testo */
.jumbotron-container p{
    margin-bottom: 30px;
    padding-right: 5px;
    line-height: 1.7;
}

.jumbotron-container a{
    margin-bottom: 15px;
}

.jumbotron-container .avvertenza{
    font-size: 13px;
    margin-bottom: 40px;
}

.jumbotron-container .link-arrow{
    color: black;
    text-decoration: none;
}

.jumbotron-container .arrow{
    font-size: 40px;
}

/* Immagine jumbo proprietà*/
.img-jumbo{
 position: absolute;
 top: 50px;
 left: 0;
 height: 460px;
 z-index: 1;
}

/* SECTION */
section{
    padding-top: 200px;
}

/* Section piano Dropbox */
.section-container{
    width: 60%;
    margin: auto;
}

section h2{
    font-size: 38px;
}

.dropbox-business .opzioni{
    display: inline-block;
    margin: 50px 20px 20px 0;
}

.dropbox-business .fake-checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #e2e2e5;
    border-radius: 50%;
    vertical-align: middle;
}

.dropbox-business .with-border{
    border: 5px solid #0160ff;
}

/* Layout colonne business */
.col-business{
    width: 30%;
    margin-top: 30px;
    border: 1px solid #d2d2d5;
    height: 1000px;
}

.dropbox-business .col-padded{
    margin-right: 5%;
    margin-left: 5%;
}

/* Proprietà elementi dentro la colonna */
.padd{
    padding: 20px 0 0;
}

.dropbox-business .offerta-business{
    border-bottom: 1px solid #d2d2d5;
    padding: 10px 0;
    text-align: center;
}

.dropbox-business .contenuto-business{
    padding: 20px 20px;
}

.contenuto-business h3{
    font-size: 25px;
}

.dropbox-business .prezzo{
    font-weight: 700;
    padding: 18px 0 10px;
}

.dropbox-business .periodicità{
    color: #75838f;
    font-size: 14px;
}

.dropbox-business .btn-center{
    padding: 30px 0 0;
}

.dropbox-business .btn-business{
    width: 100%;
    text-align: center;
}

.dropbox-business .link-business{
    color: #176aff;
}

.dropbox-business .promo{
    font-size: 14px;
}

.dropbox-business .promo::after {
	display: block;
	content: '';
	width: 50px;
	height: 1px;
	background-color: #d2d2d5;
	margin: 30px 0 0;
}

.dropbox-business .check{
    color: #0562ff;
}

.dropbox-business .col-icone{
    width: 10%;
    font-size: 14px;
    padding: 15px 5px 0;
    text-align: right;
}

.dropbox-business .col-item{
    width: 90%;
    font-size: 14px;
    padding: 15px 0;
}

/* Rettangolo sotto le colonne */
.dropbox-business .ultima-offerta{
    margin-top: 50px;
    border: 1px solid #d2d2d5;
}

.dropbox-business .contenuto-ultima-offerta{
    padding: 20px;
    position: relative;
}

.dropbox-business .contenuto-ultima-offerta h3{
    padding: 0 0 15px;
    font-size: 25px;
}

.dropbox-business .contenuto-ultima-offerta .ufficio{
    font-weight: 600;
    padding: 0 0 15px;
}

.dropbox-business .contenuto-ultima-offerta .soluzioni{
    font-size: 14px;
}

.dropbox-business .contenuto-ultima-offerta .btn-ultima-offerta{
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Dropbox Partner */
.dropbox-partner .col-foto, .dropbox-partner .col-partner-text{
    width: 50%;
}

.dropbox-partner .col-partner-text{
    padding: 35px;
}

.dropbox-partner .col-partner-text h3{
    font-size: 23px;
    padding-bottom: 20px;
}

.dropbox-partner .col-partner-text p{
    font-size: 15px;
    line-height: 1.7;
    padding-bottom: 20px;
}

/* Dropbox Operations */
.dropbox-operations .col-operations{
    width: 30%;
}

.dropbox-operations .col-padded{
    margin-left: 5%;
    margin-right: 5%;
}

.dropbox-operations .row{
    margin: 30px 0;
}

.dropbox-operations .text-underline{
    text-decoration: underline;
}

.dropbox-operations p{
    padding-top: 15px;
    font-size: 14px;
}
