/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lightseagreen; */
}

/* BODY */
body{
    font-family: 'Open Sans',sans-serif;
}

/* Immagini */
img{
    width: 100%;
}

/* Struttura Float */
.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Buttons */
.btn{
    display: inline-block;
    line-height: normal;
    text-decoration: none;
}

.btn-padd{
    padding: 6px 14px;
} 

.btn-blue{
    background-color: #0160ff;
    color: white;
}

.btn:hover{
    filter: brightness(150%);
}

/* HEADER */
header{
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

/* Layout Header */
.col-header-left, .col-header-right{
    width: 50%;
}

.col-header-left{
    text-align: left;
}

.col-header-right{
    text-align: right;
}

/* Nav Proprietà*/
nav{
    width: 98%;
    margin: auto;
}

/* Ul Header */
header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    line-height: 70px;
    margin: 0 20px;
    color: black;
    display: inline-block;
    font-weight: 400;
}

header ul li .linea:hover{
    border-bottom: 2px solid black;
}

header .logo{
    vertical-align: middle;
}

/* MAIN */
.jumbotron{
    background-color: #b3d0e7;
    padding-top: 160px;
}

.jumbotron-container{
    width: 80%;
    margin: auto;
}

.jumbotron h1{
    font-size: 70px;
}

/* Struttura colonne jumbo */
.col-jumbo-left{
    width: 35%;
    padding: 55px 0 80px;
}

.col-jumbo-right{
    width: 60%;
    margin-left: 5%;
    padding: 55px 0 80px;
    position: relative;
}

/* Proprietà testo */
.jumbotron-container p{
    margin-bottom: 30px;
    padding-right: 5px;
    line-height: 1.7;
}

.jumbotron-container a{
    margin-bottom: 15px;
}

.jumbotron-container .avvertenza{
    font-size: 13px;
    margin-bottom: 40px;
}

.jumbotron-container .link-arrow{
    color: black;
    text-decoration: none;
}

.jumbotron-container .arrow{
    font-size: 40px;
}

/* Immagine jumbo proprietà*/
.img-jumbo{
 position: absolute;
 top: 50px;
 left: 0;
 height: 460px;
}